body
{
	background-color: #232323 ;
	margin: 0;
	font-family: "Montserrat"  ;
}
.square
{
	width: 30% ;
	padding-top:  30%;
	/*background-color: blue ;*/
	float: left;
	margin :  1.66%;
	border-radius: 50%;
	transition: background 0.6s;

}
#container
{
	max-width: 500px;
	margin :20px auto 20px auto ;

}

.head
{
	text-align: center;
	margin: 0 ;
	background-color: steelblue ;
	color:  white ;
	font-weight: normal;
	padding: 20px 0 20px 0 ;
	text-transform: uppercase;
	line-height: 1.1 ;
	transition: background 0.6s;

}

.stripe
{

	text-align: center;
	height: 30px ;
	background-color: white ;
}
.selected
{
	background: steelblue ;
	color: white ;
}

#rgb
{
	/*font-weight: 900 ;*/
	font-size: 200%;
}

button
{
	border :none ;
	background :none;
	text-transform: uppercase;
	height: 100% ;
	font-weight: 800 ;
	color :steelblue;
	letter-spacing: 1px ;
	transition: all 0.4s;
	outline: none;
}
#msg
{
	width: 20%;
	display: inline-block;
	transition: all 0.6s;
}

button:hover
{
	color :white;
	background : steelblue;
}